@import '../variables-mixins.scss';

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    // overflow: hidden;
}


.bg{
    width: 100%;
    height: calc(100vh - 3em);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.1);
}

.bg-overlay-black{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.bg-overlay-blue {
    background-color: rgba(0, 30, 255, 0.3);
    background-blend-mode: overlay;
}

#demo {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: calc(100% - 3em);
    overflow: hidden;
}

.MainNav_MenuListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: soleil, sans-serif;
    text-decoration: none;
    color: white;

    .demo-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45%;
        justify-content: space-evenly;
    }

    blockquote {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3vmax;
        position: relative;

        .quote {
            display: flex;
            position: relative;
            z-index: 1000;
            margin: 0 auto;
            padding: 1.5vmax;
            overflow: hidden;
        }

    }
}

.quoteIcon {
    
    font-size: 5em;
    z-index: 999;
    color: #0033ff;
    position: absolute;
    opacity: 0.7;
    z-index: 1;
    top: -.15em;
    left: 0em;
    
}

.featured-link {
    visibility: hidden;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    line-height: 1.2;
    opacity: 0;
    transition-property: visibility, opacity;
    transition: 0.45s ease-in-out 0.1s;

    li:hover > & {
        visibility: visible;
        opacity: 1;
        text-decoration: underline;
    }

}

.contact-link{
    font-size: 0.95em;
}

.ol-super-number{
    font-size: 0.4em;
    font-weight: 100;
    vertical-align: super;
    color: hsla(228, 100%, 50%, 1);
}

.effect-element-link{
    position: relative;
    font-size: 3.5vmax;
        &::after {
            content: '';
            width: 100%;
            top: 60%;
            height: 6px;
            position: absolute;
            right: -15px;
            background: blue;
            opacity: 0;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s,
            opacity 0.3s;
            transform-origin: left;
        }
        &:hover{
            color: hsla(228, 100%, 50%, 1);
        &::after {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }}

}

.DemoMain {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    transition: visibility 0.7s 1s ease-in-out;
}

.DemoMain_Title {
    @include cherry-blc-b(8.5em);
    color: #0033ff;
    letter-spacing: .1em;
    opacity: .5;
}

.DemoMain_Subtitle {
    @include cherry-flared(1.5em);
    color: white;
    text-transform: lowercase;
    letter-spacing: 0.15em;
    opacity: 0.45;
}


.effect-link {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    display: block;
    margin: .5vmin;
}

.efftect-link-lable {
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 0.1em;
    display: block;
    margin: 3vmin;
}

.multi-box-menu-effect {
    .demo-section:first-child {

        background: none;
        @include cherry-blc-b(8.5em);
        color: #007bff;
        letter-spacing: .1em;
        // opacity: .5;
    }

}


.DemoMenuToggle.js-menu-toggle.bouncer::after {
    content: '→';
    width: 60px;
    height: 60px;
    // background-color: #adf;
    // border: 2px solid hsla(204, 100%, 39%, 1);
    // text-shadow: 0px 1px 5px 0px grey;
    // -webkit-text-shadow: 0px 1px 5px 0px grey;
    position: absolute;
    top: 100%;
    // border-radius: 100%;
    right: 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    // transform: rotate(5deg) scale(.85);
    // background-image: url(https://image.flaticon.com/icons/svg/271/271234.svg);
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    font-size: 2em;
    transform-style: preserve-3d;
    transform-origin: left bottom;
    
}

@keyframes bounce {
    0% {
        transform: scale(.9) rotate3d(0, 0, .5, -30deg);
        top: 80%;
        right: 70%;
        text-shadow: 0px 0px 0px white;
    }

    100% {
        transform:  scale(1) rotate3d(0, 0, .5, -30deg);
        top:70%;
        right: 40%;
        text-shadow: -10px 10px 8px white;
    }
}






