@import 'reset';
@import url("https://use.typekit.net/zsj5aru.css");
@import './effects/multi-box.scss';
@import './loading.scss';
@import './effects/collapsing-menu.scss';
@import './effects/sliding-menu.scss';

// body {
//     // display: flex;
//     font-size: 16px;
//     // height: 100%;
//     // background-size: 100%;
//     animation: background-color-shift 90s 0s alternate infinite ease;
//     // overflow: hidden;
// }

// @keyframes background-color-shift{
//     0% {background-color: rgb(109, 163, 204); }
//     50% {background-color: rgb(66, 47, 240);}
//     100% {background-color: rgb(28, 4, 148);}

// }

// .Landing_Aside {
//     width: 20%;
//     height: 100vh;
//     display: block;
    
// }

// .Landing_Main {
//     width: 80%;
//     height: 100%;
// }

// .Landing_title {
//     width: fit-content;
//     margin: 10px auto 20px auto;
//     font-family: ohno-blazeface, sans-serif;
//     font-weight: 900;
//     font-style: normal;
//     font-size: 4em;
    
// }

// #demo{
//     // border: 1px solid #3f3f3f;
//     // width: 78%;
//     // height: 80%;
//     // position: absolute;
//     // top: calc(4em + 45px);
//     // box-shadow: -3px 3px 5px 2px #3f3f3f;

//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;

// }

// //Multibox

// .Demo_MainNav,
// .Demo_Header {
//     height:100%;
// }

.MainNav_MenuList{
    flex-wrap: wrap;
    height: 50%;
}

.MainNav_MenuListItem {
    width: 25%;
    height: 40%;
    box-sizing: border-box;
    // display: block;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    &:first-child {
        height: 60%;
        width: 0;
        background:blue;
        top: 0;
        transform-origin: left;
        // transition-delay: 0.1s;
    }
    &:nth-child(2){
        height: 0;
        right: 50%;
        background-image: url('https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/black-wallpaper-dark-galaxy.jpg');
        background-size: 300%;
        background-position: 50%;
        top: 0;
        transform-origin: top;
        transition: background-size 0.45s 0s ease-in-out, height 0.5s .5s ease-in-out;

        &:hover {
            background-size: 330%;
        }
    }
    &:nth-child(3){
        right:50%;
        width: 0;
        background: blue;
        transform-origin: right;
        // transition-delay: 0.1s;
    }
    &:nth-child(4){
        transform-origin: bottom;
        height: 0;
        background: rgb(0, 123, 255);
    }
    &:last-child {
        bottom: 0;
        right: 0;
        width: 0;
        height: 100%;
        transform-origin:right;
        background: rgb(0, 123, 255);
    }
    
    // display:none;
    transition: width 0.5s  .5s ease-in-out,
    height 0.5s .5s ease-in-out;
}

// // #demo {
// //     background-image: url('https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/architecture-building-cosmos.jpg');
// //     background-size: 110%;
// // }

.DemoMenuToggle {
    z-index: 1000;
    font-size: 1.6em;
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background: #007bff;
    border-radius: 100%;
    width: 2.75em;
    height: 2.75em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-section {
    height: calc(100vh - 3rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vmax;
    // border: 5px solid red;

    &:last-child {
        margin-bottom: 3rem;
    }

    &:nth-child(odd) {
        background: lightblue;
    }

    &:nth-child(even) {
        background: white;
    }

}