@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/zsj5aru.css");
@import url("https://use.typekit.net/uzj7brn.css");
@import url("https://use.typekit.net/uzj7brn.css");
@import url(./prism.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.bg-cosmic-castle {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/architecture-building-cosmos.jpg"); }

.bg-cosmic-city {
  background-image: url("https://github.com/mrcjbradley/CSS-Transitions/blob/master/src/images/architecture-buildings-city.jpg?raw=true"); }

.bg-cosmic-cave {
  background-image: url("https://github.com/mrcjbradley/CSS-Transitions/blob/master/src/images/arid-canyon-cave.jpg?raw=true"); }

.bg-astronaut {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/astronaut-astronomy-cosmos.jpg"); }

.bg-cosmic-colors {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/astronomy-color-cosmos.jpg"); }

.bg-cosmic-aurora {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/aurora-aurora-borealis-constellation.jpg"); }

.bg-cosmic-galaxy {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/bavaria-cosmos-galaxy.jpg"); }

.bg-cosmic-galaxy-dark {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/black-wallpaper-dark-galaxy.jpg"); }

.bg-cosmic-dusk {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/cosmos-dark-dusk.jpg"); }

.bg-cosmic-evening {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/cosmos-dark-evening.jpg"); }

.fs-2 {
  font-size: 2em; }

.fs-2-5 {
  font-size: 2.5em; }

.fs-1 {
  font-size: 1em; }

.fs-0-5 {
  font-size: 0.5em; }

.fs-0-75 {
  font-size: 0.75em; }

.fs-1-5 {
  font-size: 1.5em; }

.fs-3 {
  font-size: 3em; }

.fs-3-5 {
  font-size: 3.5em; }

.fs-4 {
  font-size: 4em; }

.fs-4-5 {
  font-size: 4.5em; }

.fs-5 {
  font-size: 5em; }

.fs-5-5 {
  font-size: 5.5em; }

.fs-6 {
  font-size: 6em; }

.fs-6-5 {
  font-size: 6.5em; }

.fs-7 {
  font-size: 7em; }

.fs-7-5 {
  font-size: 7.5em; }

.fs-8 {
  font-size: 8em; }

.fs-8-5 {
  font-size: 8.5em; }

.fs-9 {
  font-size: 9em; }

.fs-9-5 {
  font-size: 9.5em; }

.ls-1 {
  letter-spacing: 0.1em; }

.ls-2 {
  letter-spacing: 0.2em; }

.ls-3 {
  letter-spacing: 0.3em; }

.ls-4 {
  letter-spacing: 0.4em; }

.ls-5 {
  letter-spacing: 0.5em; }

.ls-6 {
  letter-spacing: 0.6em; }

.ls-7 {
  letter-spacing: 0.7em; }

.ls-8 {
  letter-spacing: 0.8em; }

.ls-9 {
  letter-spacing: 0.9em; }

.ls-10 {
  letter-spacing: 1.0em; }

.ls-11 {
  letter-spacing: 1.1em; }

.ls-12 {
  letter-spacing: 1.2em; }

.ls-13 {
  letter-spacing: 1.3em; }

.ls-14 {
  letter-spacing: 1.4em; }

.ls-15 {
  letter-spacing: 1.5em; }

.ls-16 {
  letter-spacing: 1.6em; }

.ls-17 {
  letter-spacing: 1.7em; }

.ls-18 {
  letter-spacing: 1.8em; }

.ls-19 {
  letter-spacing: 1.9em; }

.ls-20 {
  letter-spacing: 2.0em; }

.txt-tf-upper {
  text-transform: uppercase; }

.txt-tf-lower {
  text-transform: lowercase; }

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 100vh; }

.bg {
  width: 100%;
  height: calc(100vh - 3em);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.1); }

.bg-overlay-black {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay; }

.bg-overlay-blue {
  background-color: rgba(0, 30, 255, 0.3);
  background-blend-mode: overlay; }

#demo {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: calc(100% - 3em);
  overflow: hidden; }

.MainNav_MenuListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: soleil, sans-serif;
  text-decoration: none;
  color: white; }
  .MainNav_MenuListItem .demo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    justify-content: space-evenly; }
  .MainNav_MenuListItem blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vmax;
    position: relative; }
    .MainNav_MenuListItem blockquote .quote {
      display: flex;
      position: relative;
      z-index: 1000;
      margin: 0 auto;
      padding: 1.5vmax;
      overflow: hidden; }

.quoteIcon {
  font-size: 5em;
  z-index: 999;
  color: #0033ff;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  top: -.15em;
  left: 0em; }

.featured-link {
  visibility: hidden;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  line-height: 1.2;
  opacity: 0;
  transition-property: visibility, opacity;
  transition: 0.45s ease-in-out 0.1s; }
  li:hover > .featured-link {
    visibility: visible;
    opacity: 1;
    text-decoration: underline; }

.contact-link {
  font-size: 0.95em; }

.ol-super-number {
  font-size: 0.4em;
  font-weight: 100;
  vertical-align: super;
  color: #0033ff; }

.effect-element-link {
  position: relative;
  font-size: 3.5vmax; }
  .effect-element-link::after {
    content: '';
    width: 100%;
    top: 60%;
    height: 6px;
    position: absolute;
    right: -15px;
    background: blue;
    opacity: 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s, opacity 0.3s;
    transform-origin: left; }
  .effect-element-link:hover {
    color: #0033ff; }
    .effect-element-link:hover::after {
      opacity: 1;
      transform: scale3d(1, 1, 1); }

.DemoMain {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  transition: visibility 0.7s 1s ease-in-out; }

.DemoMain_Title {
  font-family: boucherie-block, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8.5em;
  color: #0033ff;
  letter-spacing: .1em;
  opacity: .5; }

.DemoMain_Subtitle {
  font-family: boucherie-flared, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  text-transform: lowercase;
  letter-spacing: 0.15em;
  opacity: 0.45; }

.effect-link {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  display: block;
  margin: .5vmin; }

.efftect-link-lable {
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0.1em;
  display: block;
  margin: 3vmin; }

.multi-box-menu-effect .demo-section:first-child {
  background: none;
  font-family: boucherie-block, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8.5em;
  color: #007bff;
  letter-spacing: .1em; }

.DemoMenuToggle.js-menu-toggle.bouncer::after {
  content: '→';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 100%;
  right: 110%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  font-size: 2em;
  transform-style: preserve-3d;
  transform-origin: left bottom; }

@keyframes bounce {
  0% {
    transform: scale(0.9) rotate3d(0, 0, 0.5, -30deg);
    top: 80%;
    right: 70%;
    text-shadow: 0px 0px 0px white; }
  100% {
    transform: scale(1) rotate3d(0, 0, 0.5, -30deg);
    top: 70%;
    right: 40%;
    text-shadow: -10px 10px 8px white; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: hidden;
  font-family: sans-serif; }

.loading-wrapper {
  z-index: 1000;
  position: fixed;
  top: 10;
  bottom: 0;
  right: 0;
  left: 0; }

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0ccb1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: Arial;
  letter-spacing: .2em;
  font-size: 2em;
  font-weight: 600;
  transform: scale(1, 0);
  transition: transform 250ms 250ms ease-in-out;
  z-index: 1000; }
  .loading-container.loading {
    transform: scale(1, 1);
    height: 100vh; }

.loading-animation {
  position: relative;
  background: lightblue;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  width: fit-content;
  opacity: 0;
  animation: fade-out 500ms 00ms forwards; }
  .loading .loading-animation {
    animation: fade-in 500ms 500ms forwards; }
  .loading-animation::before {
    background-clip: text;
    -webkit-background-clip: text;
    content: attr(data-text);
    position: absolute;
    background-color: linear-gradient(90deg, blue, green);
    color: rgba(0, 0, 0, 0.2);
    width: 0%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    transform-origin: left;
    animation: not-loading 100ms 0ms ease-in-out forwards; }
    .loading .loading-animation::before {
      animation: loading 4000ms 500ms infinite ease-in-out alternate; }

@keyframes loading {
  0% {
    width: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes not-loading {
  0% {
    color: rgba(0, 0, 0, 0.2); }
  100% {
    color: baby-blue; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.effect-selection {
  position: fixed;
  left: 0px;
  bottom: 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 900;
  width: 100%;
  background: white; }

.profile-links {
  font-size: 2em; }

.effect-btn {
  display: block; }
  .effect-btn:hover {
    cursor: pointer;
    text-shadow: 1px .5px grey; }

.multi-box-menu-effect .demo-super-nav,
.multi-box-menu-effect #burger-box {
  display: none; }

.collapsing-menu-effect {
  /* the current section nav link takes it's style cue from the class of its parent element  */ }
  .collapsing-menu-effect .DemoMenuToggle {
    display: none; }
  .collapsing-menu-effect .demo-super-nav {
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    transition: background 500ms ease-in-out;
    /* Javascript will take care of toggling these two classes to ensure the navigation container contrasts the color of the current section */ }
    .collapsing-menu-effect .demo-super-nav.white {
      background: white; }
    .collapsing-menu-effect .demo-super-nav.lightblue {
      background: lightblue; }
  .collapsing-menu-effect .demo-nav {
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 80%; }
  .collapsing-menu-effect .nav-link {
    padding: 2em;
    font-weight: 200;
    position: relative;
    width: 20%;
    transition: background 300ms 0ms ease-in-out, color 300ms ease-in-out;
    text-align: center; }
    .collapsing-menu-effect .nav-link:hover, .collapsing-menu-effect .nav-link.active {
      font-weight: 600; }
  .collapsing-menu-effect .white .nav-link {
    color: #4baac8; }
  .collapsing-menu-effect .white .nav-link:hover,
  .collapsing-menu-effect .white .demo-nav .nav-link.active {
    background: lightblue;
    color: white; }
  .collapsing-menu-effect .lightblue .nav-link {
    color: white; }
  .collapsing-menu-effect .lightblue .nav-link:hover,
  .collapsing-menu-effect .lightblue .nav-link.active {
    background: white;
    color: lightblue; }
  .collapsing-menu-effect .demo-div-container {
    display: flex;
    height: 100%;
    width: 100vw;
    flex-direction: column; }
  .collapsing-menu-effect #burger-box {
    display: none; }

@media only screen and (max-width: 800px) {
  html {
    scroll-behavior: auto; }
  .collapsing-menu-effect #burger-box {
    display: block;
    position: fixed;
    font-family: boucherie-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    top: 1vmax;
    right: 1vmax;
    z-index: 100; }
  .collapsing-menu-effect .demo-super-nav {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out; }
    .collapsing-menu-effect .demo-super-nav.open {
      transform: scale(1, 1);
      height: 100vh; }
  .collapsing-menu-effect .demo-nav {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .collapsing-menu-effect .nav-link {
    width: 100%; }
  #burger-box.bouncer::after {
    content: '→';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 100%;
    right: 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    font-size: 2em;
    transform-style: preserve-3d;
    transform-origin: left bottom; }
  @keyframes bounce {
    0% {
      transform: scale(0.9) rotate3d(0, 0, 0.5, -30deg);
      top: 70%;
      right: 10%;
      text-shadow: 0px 0px 0px white; }
    100% {
      transform: scale(1) rotate3d(0, 0, 0.5, -30deg);
      top: 60%;
      right: -20%;
      text-shadow: -10px 10px 8px white; } } }

.bg-cosmic-castle {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/architecture-building-cosmos.jpg"); }

.bg-cosmic-city {
  background-image: url("https://github.com/mrcjbradley/CSS-Transitions/blob/master/src/images/architecture-buildings-city.jpg?raw=true"); }

.bg-cosmic-cave {
  background-image: url("https://github.com/mrcjbradley/CSS-Transitions/blob/master/src/images/arid-canyon-cave.jpg?raw=true"); }

.bg-astronaut {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/astronaut-astronomy-cosmos.jpg"); }

.bg-cosmic-colors {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/astronomy-color-cosmos.jpg"); }

.bg-cosmic-aurora {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/aurora-aurora-borealis-constellation.jpg"); }

.bg-cosmic-galaxy {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/bavaria-cosmos-galaxy.jpg"); }

.bg-cosmic-galaxy-dark {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/black-wallpaper-dark-galaxy.jpg"); }

.bg-cosmic-dusk {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/cosmos-dark-dusk.jpg"); }

.bg-cosmic-evening {
  background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/cosmos-dark-evening.jpg"); }

.fs-2 {
  font-size: 2em; }

.fs-2-5 {
  font-size: 2.5em; }

.fs-1 {
  font-size: 1em; }

.fs-0-5 {
  font-size: 0.5em; }

.fs-0-75 {
  font-size: 0.75em; }

.fs-1-5 {
  font-size: 1.5em; }

.fs-3 {
  font-size: 3em; }

.fs-3-5 {
  font-size: 3.5em; }

.fs-4 {
  font-size: 4em; }

.fs-4-5 {
  font-size: 4.5em; }

.fs-5 {
  font-size: 5em; }

.fs-5-5 {
  font-size: 5.5em; }

.fs-6 {
  font-size: 6em; }

.fs-6-5 {
  font-size: 6.5em; }

.fs-7 {
  font-size: 7em; }

.fs-7-5 {
  font-size: 7.5em; }

.fs-8 {
  font-size: 8em; }

.fs-8-5 {
  font-size: 8.5em; }

.fs-9 {
  font-size: 9em; }

.fs-9-5 {
  font-size: 9.5em; }

.ls-1 {
  letter-spacing: 0.1em; }

.ls-2 {
  letter-spacing: 0.2em; }

.ls-3 {
  letter-spacing: 0.3em; }

.ls-4 {
  letter-spacing: 0.4em; }

.ls-5 {
  letter-spacing: 0.5em; }

.ls-6 {
  letter-spacing: 0.6em; }

.ls-7 {
  letter-spacing: 0.7em; }

.ls-8 {
  letter-spacing: 0.8em; }

.ls-9 {
  letter-spacing: 0.9em; }

.ls-10 {
  letter-spacing: 1.0em; }

.ls-11 {
  letter-spacing: 1.1em; }

.ls-12 {
  letter-spacing: 1.2em; }

.ls-13 {
  letter-spacing: 1.3em; }

.ls-14 {
  letter-spacing: 1.4em; }

.ls-15 {
  letter-spacing: 1.5em; }

.ls-16 {
  letter-spacing: 1.6em; }

.ls-17 {
  letter-spacing: 1.7em; }

.ls-18 {
  letter-spacing: 1.8em; }

.ls-19 {
  letter-spacing: 1.9em; }

.ls-20 {
  letter-spacing: 2.0em; }

.txt-tf-upper {
  text-transform: uppercase; }

.txt-tf-lower {
  text-transform: lowercase; }

.sliding-box-menu-effect .demo-super-nav {
  position: fixed;
  width: 100vw;
  height: 100vh; }

.sliding-box-menu-effect .nav-link {
  position: absolute;
  display: block;
  top: 0;
  font-family: boucherie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 225ms ease-in-out both; }
  .sliding-box-menu-effect .nav-link:first-child {
    background: blue;
    right: 150px;
    top: 0%;
    width: calc(35% - 150px);
    height: 150px;
    animation-delay: 1125ms; }
  .sliding-box-menu-effect .nav-link:nth-child(2) {
    background: red;
    top: 150px;
    right: 0;
    width: 35%;
    height: calc(65vh - 150px);
    animation-delay: 900ms; }
  .sliding-box-menu-effect .nav-link:nth-child(3) {
    background: orange;
    right: 35%;
    height: 65%;
    width: 40%;
    animation-delay: 675ms; }
  .sliding-box-menu-effect .nav-link:nth-child(4) {
    background: pink;
    top: 65%;
    right: 0%;
    width: 75%;
    height: 35%;
    animation-delay: 450ms; }
  .sliding-box-menu-effect .nav-link:nth-child(5) {
    background: green;
    right: 75%;
    height: 100%;
    width: 25%;
    animation-delay: 500ms;
    animation-delay: 225ms; }
  .sliding-box-menu-effect .nav-link:nth-child(odd) {
    transform: scale(0, 1);
    transform-origin: right; }
  .sliding-box-menu-effect .nav-link:nth-child(even) {
    transform: scale(1, 0);
    transform-origin: top; }
  .sliding-box-menu-effect .nav-link::after {
    content: '';
    position: absolute;
    top: calc(50% + 0.5em);
    transform: scale(0, 1);
    width: 70%;
    border-top: 2px solid white;
    transition: all 300ms; }

.sliding-box-menu-effect .demo-super-nav .nav-link:hover,
.sliding-box-menu-effect .demo-super-nav .nav-link.active {
  font-size: 3em; }
  .sliding-box-menu-effect .demo-super-nav .nav-link:hover::after,
  .sliding-box-menu-effect .demo-super-nav .nav-link.active::after {
    transform: scale(1, 1); }

.sliding-box-menu-effect .demo-super-nav .nav-link:nth-child(odd) {
  animation-name: fold-odd; }

.sliding-box-menu-effect .demo-super-nav .nav-link:nth-child(even) {
  animation-name: fold-even; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:nth-child(odd) {
  animation-name: unfold-odd; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:nth-child(even) {
  animation-name: unfold-even; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:first-child {
  animation-delay: 225ms; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:nth-child(2) {
  animation-delay: 450ms; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:nth-child(3) {
  animation-delay: 675ms; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:nth-child(4) {
  animation-delay: 900ms; }

.sliding-box-menu-effect .demo-super-nav.open .nav-link:nth-child(5) {
  animation-delay: 1125ms; }

@keyframes unfold-odd {
  0% {
    transform: scale(0, 1); }
  100% {
    transform: scale(1, 1); } }

@keyframes unfold-even {
  0% {
    transform: scale(1, 0); }
  100% {
    transform: scale(1, 1); } }

@keyframes fold-odd {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(0, 1); } }

@keyframes fold-even {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 0); } }

.sliding-box-menu-effect .demo-div-container {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column; }

.sliding-box-menu-effect #burger-box {
  position: fixed;
  background: brown;
  top: 0;
  right: 0;
  height: 150px;
  width: 150px;
  z-index: 100;
  font-family: boucherie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }

.sliding-box-menu-effect .DemoMenuToggle {
  display: none; }

.sliding-box-menu-effect #burger-box.bouncer::after {
  content: '→';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 100%;
  right: 110%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  font-size: 2em;
  transform-style: preserve-3d;
  transform-origin: left bottom; }

@keyframes bounce {
  0% {
    transform: scale(0.9) rotate3d(0, 0, 0.5, -30deg);
    top: 60%;
    right: 70%;
    text-shadow: 0px 0px 0px white; }
  100% {
    transform: scale(1) rotate3d(0, 0, 0.5, -30deg);
    top: 50%;
    right: 40%;
    text-shadow: -10px 10px 8px white; } }

.MainNav_MenuList {
  flex-wrap: wrap;
  height: 50%; }

.MainNav_MenuListItem {
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  transition: width 0.5s  .5s ease-in-out, height 0.5s .5s ease-in-out; }
  .MainNav_MenuListItem:first-child {
    height: 60%;
    width: 0;
    background: blue;
    top: 0;
    transform-origin: left; }
  .MainNav_MenuListItem:nth-child(2) {
    height: 0;
    right: 50%;
    background-image: url("https://raw.githubusercontent.com/mrcjbradley/CSS-Transitions/master/src/images/black-wallpaper-dark-galaxy.jpg");
    background-size: 300%;
    background-position: 50%;
    top: 0;
    transform-origin: top;
    transition: background-size 0.45s 0s ease-in-out, height 0.5s .5s ease-in-out; }
    .MainNav_MenuListItem:nth-child(2):hover {
      background-size: 330%; }
  .MainNav_MenuListItem:nth-child(3) {
    right: 50%;
    width: 0;
    background: blue;
    transform-origin: right; }
  .MainNav_MenuListItem:nth-child(4) {
    transform-origin: bottom;
    height: 0;
    background: #007bff; }
  .MainNav_MenuListItem:last-child {
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    transform-origin: right;
    background: #007bff; }

.DemoMenuToggle {
  z-index: 999;
  font-size: 1.6em;
  position: fixed;
  top: 10px;
  right: 20px;
  color: white;
  background: #007bff;
  border-radius: 100%;
  width: 2.75em;
  height: 2.75em;
  display: flex;
  align-items: center;
  justify-content: center; }

.demo-div-container {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column; }

.demo-section {
  height: fit-content;
  min-height: calc(100vh - 3rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; }
  .demo-section h1 {
    margin-top: 2.5rem;
    font-size: 8vmax; }
  .demo-section:last-child {
    margin-bottom: 3rem; }
  .demo-section:nth-child(odd) {
    background: lightblue; }
  .demo-section:nth-child(even) {
    background: white; }

pre[class*="language-"] {
  background: #272822;
  margin-top: 0px;
  min-width: 70vw; }

[class*="-section-wrapper"] {
  padding: 10%;
  height: 100%; }

@media only screen and (max-width: 800px) {
  pre[class*="language-"] {
    font-size: 14px; }
  [class*="-section-wrapper"] {
    padding: 0%;
    height: 100%; }
  .demo-section {
    height: fit-content;
    min-height: calc(100vh - 3rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em; }
    .demo-section h1 {
      margin-top: 2.5rem;
      font-size: 8vmax; } }
